{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}


	<div class="example-wrapper">


		<label for="shop-select">votre magasin</label>
		<a href="{{ path('user_backoffice_shop_add', {id: user.id}) }}">Ajouter</a>


		{% for shop in shops %}
			<ul>
				<li><a href="{{ path('user_backoffice_shop_read', {'name_slug': shop.nameslug}) }} ">{{ shop.name }}{{ loop.last != true ? ',' }}</a><a href="{{ path('user_backoffice_shop_edit', {'name_slug': shop.nameslug}) }}">Editer</a></li>
			
				
			</ul>


		{% endfor %}


		<section class="profil">Votre profil</section>
	
		<div>
			<ul>
				<li>Nom :
					{{user.lastname}}</li>
				<li>Prénom :
					{{user.firstname}}</li>

				<li>email :
					{{user.email}}</li>

				 <li>téléphone : {{user.phonenumber}}</li> 
			</ul>
			<p>Votre adresse</p>
			<ul>
				<li>
					rue:
					{{user.address}}</li>
				 <li> Code postal: {{user.zipcode}}</li> 
				<li>
					Ville:
					{{user.city}}</li>

			</ul>


		</div>


	</div>
{% endblock %}
