{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

	<div class="box-container">


		<section class="profil-card ">
			<div class="name__profil">
				<h2>Votre profil</h2>
				<div class ="avatar-container">	
				<img class="user-avatar" src="{{ asset ('images/user/' ~ user.avatar)}}" alt="avatar du user">
				</div>
			
			</div>
			


			<ul>
				<li>
					{{user.firstname}}
					{{user.lastname}}</li>
				<br>
				<h4>Contact:</h4>
				<li>
					{{user.email}}</li>


				<li>téléphone :
					{{user.phonenumber}}</li>
				<br>

			</ul>
			<h4>Adresse:</h4>
			<ul>
				<li>
					{{user.address}}</li>

				<li>
					{{user.zipcode}}
					{{user.city}}</li>

			</ul>
		</section>

		<section class="shop-card">
			<h4 for="shop-select">
				{% if shops|length > 1 %}
					Vos commerces
				{% else %}
					Votre commerce
				</h4>
			{% endif %}
			<a href="{{ path('user_backoffice_shop_add', {id: user.id}) }}">
				<i class="bi bi-plus-circle-dotted"></i>
			</a>
			<br>
			<br>


			{% for shop in shops %}
				<ul>
					<li class= "list-shops"><a href="{{ path('user_backoffice_shop_read', {'name_slug': shop.nameslug}) }} ">{{ shop.name }}</a></li>
				</ul>

			{% endfor %}
		</section>


	</div>
{% endblock %}
