{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}


	<div class="example-wrapper">


		<label for="shop-select">votre magasin</label>


		{% for shop in shops %}
			<ul>
				<li><a href="{ path('user_backoffice_shop', {'name_slug': shop.name_slug} ) }} ">{{ shop.name }}{{ loop.last != true ? ',' }}</a></li>

			</ul>


		{% endfor %}


		<section class="profil">Votre profil</section>
	
		<div>
			<ul>
				<li>Nom :
					{{user.lastname}}</li>
				<li>Prénom :
					{{user.firstname}}</li>

				<li>email :
					{{user.email}}</li>

				 <li>téléphone : {{user.phonenumber}}</li> 
			</ul>
			<p>Votre adresse</p>
			<ul>
				<li>
					rue:
					{{user.address}}</li>
				 <li> Code postal: {{user.zipcode}}</li> 
				<li>
					Ville:
					{{user.city}}</li>

			</ul>


		</div>


		<h2>Vos produits</h2>
		<table class="table table-striped">
			<thead>
				<tr>

					<th>nom</th>
					<th>Description</th>
					<th>UC</th>
					<th>Prix</th>
					<th>image</th>
					<th>stock</th>
				</tr>
			</thead>
			<tbody>

				<tr>

					<td></td>
					<td>Description</td>
					<td>UC</td>
					<td>Prix</td>
					<td>image</td>
					<td>stock</td>

					<td>
						<a href="">Modifier</a>
					</td>


				</tr>


			</tbody>
		</table>
	</div>
{% endblock %}
