{% extends 'base.html.twig' %}

{% block title %}
  Ajouter un produit à
  {{ shop.name }}
{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
  <div>
    <a href="{{
      path(
        'user_backoffice_shop_read',
        {
          name_slug: shop.nameslug
        }
      )
      }}">
      <i class="bi bi-arrow-left-square-fill"></i>
    </a>
 </div>
     <div class="form"><h2>
      Ajouter un produit à
      {{ shop.name }}
    </h2>
 

  {{ form_start(form) }}
  {{ form_row(form.name) }}
  {{ form_row(form.description) }}
  {{ form_row(form.uc) }}
  {{ form_row(form.price) }}
  {{ form_row(form.picture) }}
  {{ form_row(form.stock) }}
  {{ form_row(form.tags) }}
  <button>Ajouter</button>
  {{ form_end(form) }}</div>
    
{% endblock %}
