{% extends 'base.html.twig' %}

{% block title %}
  Modifier {{ product.name }} de {{ product.shop }}
{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
  <div>
    <a href="{{
      path(
        'user_backoffice_shop_read',
        {
          name_slug: shop.nameslug
        }
      )
      }}">
     <i class="bi bi-arrow-left-square-fill"></i>
    </a>
 </div>
     <div class="form"><h2>
      Modifier {{ product.name }} de {{ product.shop }}
    </h2>
 

  {{ form_start(form) }}
  {{ form_row(form.name) }}
  {{ form_row(form.description) }}
  {{ form_row(form.uc) }}
  {{ form_row(form.price) }}
  {{ form_row(form.picture) }}
  {{ form_row(form.stock) }}
  {{ form_row(form.tags) }}
  {# On peut tout à fait insérer le bouton dans le twig plutot que dans le formulaire #}
  <button>Modifier</button>
  {{ form_end(form) }}</div>
    
{% endblock %}
