{% extends 'base.html.twig' %}

{% block title %}Editer {{product.name}} de {{product.shop}}{% endblock %}

{% block body %}

<div>
    <h2>Editer {{product.name}} de {{product.shop}}</h2>
</div>

{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.uc) }}
    {{ form_row(form.price) }}
    {{ form_row(form.picture) }}
    {{ form_row(form.stock) }}
    {{ form_row(form.tags) }}
    {{ form_row(form.shop) }}
    {# On peut tout à fait insérer le bouton dans le twig plutot que dans le formulaire #}
    <button>Ajouter</button>
{{ form_end(form) }}

{% endblock %}
