{% extends 'base.html.twig' %}

{% block title %}
  {{ product.shop }} {{ product.name }}
{% endblock %}

{% block body %}
  <div>
    <h2>
      {{ product.shop }} : {{ product.name }}
    </h2>
  </div>

  <div>
    <ul>
      <li>{{ product.name }}</li>
      <li>{{ product.description }}</li>
      <li>{{ product.uc }}</li>
      <li>{{ product.price }}</li>
      <li><img src="{{ asset ('images/product/' ~ product.picture) }}" alt="photo du produit"/></li>
      <li>{{ product.stock }}</li>
      <li>{{ product.shop }}</li>
    </ul>
  </div>
{% endblock %}
