{% extends 'base.html.twig' %}

{% block title %}
	Commandes de
	{{ shop.name }}
{% endblock %}

{% block body %}
	<a href="{{ path('user_backoffice_shop_read', {'name_slug': shop.nameslug}) }}">
		<i class="bi bi-arrow-left-square-fill"></i>
	</a>
	<h2>{{ shop.name|capitalize }}</h2>
	<h2>Vos commandes</h2>

		{% if ordersToPrepare|length > 0 %}
	<h3>A Préparer</h3> <br>
	<table class="table table-hover">
    <thead>
        <tr>
          <th scope="col">Référence</th>
          <th scope="col">Date</th>
          <th scope="col">Client</th>
          <th scope="col">Prix Total</th>
          <th scope="col">Statut</th>
          <th scope="col"></th>
        </tr>
		</thead>
			
		{% for order in ordersToPrepare %}
				<tbody>
					<tr class="new__orders">
						<td>{{ order.id }}</td>
						<td>{{ order.createdAt|date('d-m-Y') }}</td>
						<td>{{ order.user.firstname }}
							{{ order.user.lastname }}</td>
						<td>{{ order.totalprice }}€</td>
						<td>A préparer</td>
						<td>
							<form action="{{ path('user_backoffice_order_updateStatus', {id: order.id}) }}">
								<button class="order-button">Préparer</button>
							</form>
						</td>
						<th scope="col">
							<p>
								<a data-bs-toggle="collapse" href="#collapseExample{{order.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
									<i class="bi bi-caret-down-fill"></i>
								</a>
							</p>
						</th>
					</tr>
					<tr class="collapse orderlines-table" id="collapseExample{{order.id}}">
						<th scope="col">Réf Ligne</th>
						<th scope="col">Produit</th>
						<th scope="col">Quantité</th>
						<th scope="col">Prix</th>
					</tr>
					{% for orderline in order.orderlines %}
						<tr class="collapse  orderlines-table" id="collapseExample{{order.id}}">
							<td>{{ orderline.id }}</td>
							<td>{{ orderline.product.name }}</td>
							<td>{{ orderline.quantity }}</td>
							<td>{{ orderline.price }}€</td>
						</tr>
					{% endfor %}
				{% endfor %}
			{% endif %}
		</tbody>
	</table>
	{% if ordersPreparing|length > 0  %}
	<h3>En cours de  Préparation</h3> <br>
	<table class="table table-hover">
  	<thead>
					<tr>
						<th scope="col">Référence</th>
						<th scope="col">Date</th>
						<th scope="col">Client</th>
						<th scope="col">Prix Total</th>
						<th scope="col">Statut</th>
						<th scope="col"></th>
					</tr>
				</thead>
		{% for order in ordersPreparing %}
			
				<tbody>
					<tr class="orders__in_preparation">
						<td>{{ order.id }}</td>
						<td>{{ order.createdAt|date('d-m-Y') }}</td>
						<td>{{ order.user.firstname }}
							{{ order.user.lastname }}</td>
						<td>{{ order.totalprice }}€</td>
						<td>En cours</td>
						<td>
							<form action="{{ path('user_backoffice_order_updateStatus', {id: order.id}) }}">
								<button class="order-button">Finaliser</button>
							</form>
						</td>
						<th scope="col">
							<p>
								<a data-bs-toggle="collapse" href="#collapseExample{{order.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
									<i class="bi bi-caret-down-fill"></i>
								</a>
							</p>
						</th>
					</tr>
					<tr class="collapse orderlines-table" id="collapseExample{{order.id}}">
						<th scope="col">Réf Ligne</th>
						<th scope="col">Produit</th>
						<th scope="col">Quantité</th>
						<th scope="col">Prix</th>
					</tr>
					{% for orderline in order.orderlines %}
						<tr class="collapse  orderlines-table" id="collapseExample{{order.id}}">
							<td>{{ orderline.id }}</td>
							<td>{{ orderline.product.name }}</td>
							<td>{{ orderline.quantity }}</td>
							<td>{{ orderline.price }}€</td>
						</tr>
					{% endfor %}
				
			{% endfor %}
		{% endif %}
		</tbody>
	</table>

{% if ordersPrepared|length > 0 %}
	<h3>Préparées</h3> <br>
	<table class="table table-hover">
   <thead>
					<tr>
						<th scope="col">Référence</th>
						<th scope="col">Date</th>
						<th scope="col">Client</th>
						<th scope="col">Prix Total</th>
						<th scope="col">Statut</th>
						<th scope="col"></th>
					</tr>
				</thead>
		{% for order in ordersPrepared %}
			
				<tbody>
					<tr class="prepared__orders">
						<td>{{ order.id }}</td>
						<td>{{ order.createdAt|date('d-m-Y') }}</td>
						<td>{{ order.user.firstname }}
							{{ order.user.lastname }}</td>
						<td>{{ order.totalprice }}€</td>
						<td>Préparée</td>
						<td>
							<form action="{{ path('user_backoffice_order_updateStatus', {id: order.id}) }}">
								<button class="order-button">Archiver</button>
							</form>
						</td>
						<th scope="col">
							<p>
								<a data-bs-toggle="collapse" href="#collapseExample{{order.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
									<i class="bi bi-caret-down-fill"></i>
								</a>
							</p>
						</th>
					</tr>
					<tr class="collapse orderlines-table" id="collapseExample{{order.id}}">
						<th scope="col">Réf Ligne</th>
						<th scope="col">Produit</th>
						<th scope="col">Quantité</th>
						<th scope="col">Prix</th>
					</tr>
					{% for orderline in order.orderlines %}
						<tr class="collapse  orderlines-table" id="collapseExample{{order.id}}">
							<td>{{ orderline.id }}</td>
							<td>{{ orderline.product.name }}</td>
							<td>{{ orderline.quantity }}</td>
							<td>{{ orderline.price }}€</td>
						</tr>
					{% endfor %}
				
			{% endfor %}
			{% endif %}
		</tbody>
	</table>
{% if ordersArchived|length > 0 %}
	<h3>Archivées</h3> <br>
	<table class="table table-hover">
  	<thead>
					<tr>
						<th scope="col">Référence</th>
						<th scope="col">Date</th>
						<th scope="col">Client</th>
						<th scope="col">Prix Total</th>
						<th scope="col">Statut</th>
						<th scope="col"></th>
					</tr>
				</thead>
		{% for order in ordersArchived%}
			
				<tbody>
					<tr class="archived__orders">
						<td>{{ order.id }}</td>
						<td>{{ order.createdAt|date('d-m-Y') }}</td>
						<td>{{ order.user.firstname }}
							{{ order.user.lastname }}</td>
						<td>{{ order.totalprice }}€</td>
						<td>Archivée</td>
						<td>
							<form action="{{ path('user_backoffice_order_delete', {id: order.id}) }}">
								<button class="order-button">Supprimer</button>
							</form>
						</td>
						<th scope="col">
							<p>
								<a data-bs-toggle="collapse" href="#collapseExample{{order.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
									<i class="bi bi-caret-down-fill"></i>
								</a>
							</p>
						</th>
					</tr>
					<tr class="collapse orderlines-table" id="collapseExample{{order.id}}">
						<th scope="col">Réf Ligne</th>
						<th scope="col">Produit</th>
						<th scope="col">Quantité</th>
						<th scope="col">Prix</th>
					</tr>
					{% for orderline in order.orderlines %}
						<tr class="collapse  orderlines-table" id="collapseExample{{order.id}}">
							<td>{{ orderline.id }}</td>
							<td>{{ orderline.product.name }}</td>
							<td>{{ orderline.quantity }}</td>
							<td>{{ orderline.price }}€</td>
						</tr>
					{% endfor %}
				
			{% endfor %}
			{% endif %}
		</tbody>
	</table>
{% endblock %}
