{% extends 'base.html.twig' %}

{% block title %}
	Commandes de
	{{ shop.name }}
{% endblock %}

{% block body %}
	<a href="{{ path('user_backoffice_shop_read', {'name_slug': shop.nameslug}) }}"><i class="bi bi-arrow-left-square-fill"></i></a>
	<h1>Commandes de
		{{ shop.name }}</h1>
	<h3>A Préparer</h3>
	<table class="table table-hover">
		{% for order in orders %}
			{% if order.status == 0 %}
				<thead>
					<tr>
						<th scope="col">Référence</th>
						<th scope="col">Date</th>
						<th scope="col">Client</th>
						<th scope="col">Prix Total</th>
						<th scope="col">Statut</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<tr class="new__orders">
						<td>{{ order.id }}</td>
						<td>{{ order.createdAt|date('d-m-Y') }}</td>
						<td>{{ user.firstname }}
							{{ user.lastname }}</td>
						<td>{{ order.totalprice }}</td>
						<td>A préparer</td>
						<td>
							<form action="{{ path('user_backoffice_order_updateStatus', {id: order.id}) }}">
								<button>Préparer</button>
							</form>
						</td>
						<th scope="col">
							<p>
								<a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample{# {{order.id}} #}" role="button" aria-expanded="false" aria-controls="collapseExample">
									<i class="bi bi-caret-down-fill"></i>
								</a>
							</p>
						</th>
					</tr>
					<tr class="collapse" id="collapseExample">
						<th scope="col">Réf Ligne</th>
						<th scope="col">Produit</th>
						<th scope="col">Quantité</th>
						<th scope="col">Prix</th>
					</tr>
					{% for orderline in order.orderlines %}
						<tr class="collapse" id="collapseExample{# {{orderline.orderRef}} #}">
							<td>{{ orderline.id }}</td>
							<td>{{ orderline.product.name }}</td>
							<td>{{ orderline.quantity }}</td>
							<td>{{ orderline.price }}</td>
						</tr>
					{% endfor %}
				{% endif %}
			{% endfor %}
		</tbody>
	</table>

	<h3>En cours de  Préparation</h3>
	<table class="table table-hover">
		{% for order in orders %}
			{% if order.status == 1 %}
				<thead>
					<tr>
						<th scope="col">Référence</th>
						<th scope="col">Date</th>
						<th scope="col">Client</th>
						<th scope="col">Prix Total</th>
						<th scope="col">Statut</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<tr class="orders__in_preparation">
						<td>{{ order.id }}</td>
						<td>{{ order.createdAt|date('d-m-Y') }}</td>
						<td>{{ user.firstname }}
							{{ user.lastname }}</td>
						<td>{{ order.totalprice }}</td>
						<td>En cours</td>
						<td>
							<form action="{{ path('user_backoffice_order_updateStatus', {id: order.id}) }}">
								<button>Finaliser</button>
							</form>
						</td>
						<th scope="col">
							<p>
								<a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample{# {{order.id}} #}" role="button" aria-expanded="false" aria-controls="collapseExample">
									<i class="bi bi-caret-down-fill"></i>
								</a>
							</p>
						</th>
					</tr>
					<tr class="collapse" id="collapseExample">
						<th scope="col">Réf Ligne</th>
						<th scope="col">Produit</th>
						<th scope="col">Quantité</th>
						<th scope="col">Prix</th>
					</tr>
					{% for orderline in order.orderlines %}
						<tr class="collapse" id="collapseExample{# {{orderline.orderRef}} #}">
							<td>{{ orderline.id }}</td>
							<td>{{ orderline.product.name }}</td>
							<td>{{ orderline.quantity }}</td>
							<td>{{ orderline.price }}</td>
						</tr>
					{% endfor %}
				{% endif %}
			{% endfor %}
		</tbody>
	</table>

	<h3>Préparées</h3>
	<table class="table table-hover">
		{% for order in orders %}
			{% if order.status == 2 %}
				<thead>
					<tr>
						<th scope="col">Référence</th>
						<th scope="col">Date</th>
						<th scope="col">Client</th>
						<th scope="col">Prix Total</th>
						<th scope="col">Statut</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<tr class="prepared__orders">
						<td>{{ order.id }}</td>
						<td>{{ order.createdAt|date('d-m-Y') }}</td>
						<td>{{ user.firstname }}
							{{ user.lastname }}</td>
						<td>{{ order.totalprice }}</td>
						<td>Préparée</td>
						<td>
							<form action="{{ path('user_backoffice_order_updateStatus', {id: order.id}) }}">
								<button>Archiver</button>
							</form>
						</td>
						<th scope="col">
							<p>
								<a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample{# {{order.id}} #}" role="button" aria-expanded="false" aria-controls="collapseExample">
									<i class="bi bi-caret-down-fill"></i>
								</a>
							</p>
						</th>
					</tr>
					<tr class="collapse" id="collapseExample">
						<th scope="col">Réf Ligne</th>
						<th scope="col">Produit</th>
						<th scope="col">Quantité</th>
						<th scope="col">Prix</th>
					</tr>
					{% for orderline in order.orderlines %}
						<tr class="collapse" id="collapseExample{# {{orderline.orderRef}} #}">
							<td>{{ orderline.id }}</td>
							<td>{{ orderline.product.name }}</td>
							<td>{{ orderline.quantity }}</td>
							<td>{{ orderline.price }}</td>
						</tr>
					{% endfor %}
				{% endif %}
			{% endfor %}
		</tbody>
	</table>

	<h3>Archivées</h3>
	<table class="table table-hover">
		{% for order in orders %}
			{% if order.status == 3 %}
				<thead>
					<tr>
						<th scope="col">Référence</th>
						<th scope="col">Date</th>
						<th scope="col">Client</th>
						<th scope="col">Prix Total</th>
						<th scope="col">Statut</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<tr class="archived__orders">
						<td>{{ order.id }}</td>
						<td>{{ order.createdAt|date('d-m-Y') }}</td>
						<td>{{ user.firstname }}
							{{ user.lastname }}</td>
						<td>{{ order.totalprice }}</td>
						<td>Archivée</td>
						<td>
							<form action="{{ path('user_backoffice_order_delete', {id: order.id}) }}">
								<button>Supprimer</button>
							</form>
						</td>
						<th scope="col">
							<p>
								<a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample{# {{order.id}} #}" role="button" aria-expanded="false" aria-controls="collapseExample">
									<i class="bi bi-caret-down-fill"></i>
								</a>
							</p>
						</th>
					</tr>
					<tr class="collapse" id="collapseExample">
						<th scope="col">Réf Ligne</th>
						<th scope="col">Produit</th>
						<th scope="col">Quantité</th>
						<th scope="col">Prix</th>
					</tr>
					{% for orderline in order.orderlines %}
						<tr class="collapse" id="collapseExample{# {{orderline.orderRef}} #}">
							<td>{{ orderline.id }}</td>
							<td>{{ orderline.product.name }}</td>
							<td>{{ orderline.quantity }}</td>
							<td>{{ orderline.price }}</td>
						</tr>
					{% endfor %}
				{% endif %}
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
