{% extends 'base.html.twig' %}

{% block title %}
	{{ shop.name }}
{% endblock %}

{% block body %}

	<div>
		<a href="{{ path('user_backoffice_user_read', {id: user.id}) }}">
			<i class="bi bi-arrow-left-square-fill"></i>
		</a>
	</div>


	<section class="box-container">

		<div class="profil-card">
			

			<h2>{{ shop.name|capitalize  }}   <a href="{{ path('user_backoffice_shop_edit', {'name_slug': shop.nameslug}) }}">
				<i class="bi bi-pencil-square"></i>
			</a></h2>

			<p>{{ shop.description }}</p> <br>

			<h4>Adresse</h4>
			<p>{{ shop.address }}</p>
			<p>{{ shop.zipcode }}</p>
			<p>{{ shop.city }}</p> <br>

			<h4>Contact</h4>
			<p>{{ shop.email }}</p>
			<p>{{ shop.phonenumber }}</p><br>

			<h4>Horaires d'ouvertures</h4>
			<p>{{ shop.openinghours }}</p>
		</div>


		<div class="box-image">
			<img  class = "shop-picture"  src="{{ asset ('images/shop/' ~ shop.picture)}}" alt="photo du magasin">

		</div>


	</section>
	<div class="order">
		<h3>
			<a href="{{ path('user_backoffice_order_read', {id: shop.id}) }}">Voir mes commandes</a>
		</h3>
		{% if orders|length >= 1 %}
			<a id="command-alert" href="{{ path('user_backoffice_order_read', {id: shop.id}) }}">
				{{ orders|length }}
				{{ orders|length == 1 ? 'nouvelle commande' : 'nouvelles commandes' }}

			</a>
		{%  endif %}
	</div>

	<div class="products">

		<div class="product-title">
			<h3>Mes produits</h3>
			<a href="{{ path('user_backoffice_product_add', {id: shop.id}) }}">
				<i class="bi bi-plus-circle-dotted"></i>
			</a>
		</div>

		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">Nom</th>
					<th scope="col">Description</th>
					<th scope="col">Image</th>
					<th scope="col">UC</th>
					<th scope="col">Prix</th>
					<th scope="col"></th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				{% for product in products %}
					<tr>
						<td>{{ product.name }}</td>
						<td>{{ product.description }}</td>
						<td><img class = "product-picture" src="{{ asset ('images/product/' ~ product.picture)}}" alt="photo du produit"></td>
						<td>{{ product.uc }}</td>

						<td>{{ product.price }}
							€</td>
						<td>
							<a href="{{ path('user_backoffice_product_edit', {id: product.id}) }}">Editer</a>
						</td>
						<td>
							<a href="{{ path('user_backoffice_product_delete', {id: product.id}) }}">Supprimer</a>
						</td>

					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
