{% extends "base.html.twig" %}

{% block body %}

<h2>A propos de nous:</h2>
<section class="form team">


<div class="team-container">

<div class="avatar-profil">
<p class="role">Product Owner</p>
<img src="{{ asset ('images/about/avataaars-hubert.png')}}" alt="" class="avataar">

<p class="name">Hubert Merkouloff </p>
</div>

<div class="avatar-profil">
<p class="role">Scrum Master</p>
<img src="{{ asset ('images/about/avataaars-nico.png')}}" alt="" class="avataar">
<p class="name">Nicolas Incerti</p>
</div>

<div class="avatar-profil">
<p class="role">Lead Front/Git Master Front</p>
<img src="{{ asset ('images/about/avataaars-florent.png')}}" alt="" class="avataar">
<p class="name">Florent Girard</p>
</div>

<div class="avatar-profil">
<p class="role">Lead Back</p>
<img src="{{ asset ('images/about/avataaars-tania.png')}}" alt="" class="avataar">
<p class="name">Tania Raguel</p>
</div>

<div class="avatar-profil">
<p class="role">Git Master Back</p>
<img src="{{ asset ('images/about/avataaars-jona.png')}}" alt="" class="avataar">
<p class="name">Jonathan Plazanet</p>
</div>






</div>





</section>

{% endblock %}